<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <title>Campground with lots of pugs</title>
        <link rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
        crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/main.css">

        <nav class="navbar navbar-expand-lg navbar-light bg-info mb-3">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand">YelpCamp</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class = "navbar-nav ml-auto">
                       <% if(!currentUser){ %>
                            <li><a href="/login" class="nav-link" href="/">Login</a></li>
                            <li><a href="/register" class="nav-link" href="/">Sign Up</a></li>
                      <%  } else { %>
                            <li><a href="/profile" class="nav-link">Hello, <%= currentUser.username %></a></li>
                            <li><a href="/logout" class="nav-link" href="/">Logout</a></li>
                       <% } %>
                        
                        
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <%if(error && error.length > 0){%>
                <div class="alert alert-danger">
                    <%= error %>
                </div>
            <%} else if(success && success.length > 0){%>
                <div class="alert alert-success">
                    <%= success %>
                </div>
            <%}%>
        </div>