<%- include("../partials/header.ejs") %>

<h1>Change password</h1>

<form action = "/password" method ="post">
    <input type="password" name="current_password" placeholder="current password" required>
    <input type="password" name="new_password" placeholder="New Password" required>
    <input type="password" name="confirm_new_password" placeholder="Confirm New Password" required>
    <button>Change Password</button>
</form>

<%- include("../partials/footer.ejs") %>